<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card-white-content text-center" id="new-pool">
        <h3>New Pool</h3>

        <%= simple_form_for [@pool] do |f| %>
          <%= f.error_notification %>
          <h2 class="text-left mini-header">General information</h2>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-quote-left"></i></span>
            <%= f.input :title, label: false, placeholder: 'Give a sexy name to your pool' %>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <%= f.input :address, label: false, placeholder: 'Type your pool address'  %>
            <%= f.input :street_number, as: :hidden, name: "pool[street_number]", input_html: { id: "street_number"} %>
            <%= f.input :route, as: :hidden, name: "pool[route]", input_html: { id: "route"} %>
            <%= f.input :locality, as: :hidden, name: "pool[locality]", input_html: { id: "locality"} %>
            <%= f.input :country, as: :hidden, name: "pool[country]", input_html: { id: "country"} %>
          </div>
          <h2 class="text-left mini-header">Price and capacity</h2>
          <div class="input-group">
            <%= f.input :price, label: false, placeholder: 'Enter a price in €' %>
            <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          </div>
          <br>
          <div class="input-group">
            <%= f.input :capacity, label: false, placeholder:'People capacity' %>
            <span class="input-group-addon"><i class="fa fa-users"></i></span>
          </div>
          <div class="form-group">
            <h2 class="text-left mini-header">Description</h2>
            <%= f.input :content, label: false, placeholder: 'Great pool! Sun is shining till late in afternoon, great to chill out by the pool with chicks!' %>
          </div>
          <div class="input-group">
            <h2 class="text-left mini-header"><i class="fa fa-camera-retro"></i> Add a picture for your pool</h2>
            <%= f.file_field :picture %>
          </div>
          <br>
            <%= f.button :submit, class: 'btn-danger confirm-pool' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <!-- Include Google Maps JS API -->

    <script type="text/javascript">
    function initializeAutocomplete(id) {
      var element = document.getElementById(id);
      if (element) {
        var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
        console.log(element)
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
      }
    }

    function onPlaceChanged() {
      var place = this.getPlace();
      console.log(place);  // Uncomment this line to view the full object returned by Google API.
      for (var i in place.address_components) {
        var component = place.address_components[i];
        for (var j in component.types) {  // Some types are ["country", "political"]
          var type_element = document.getElementById(component.types[j]);
          if (type_element) {
            type_element.value = component.long_name;
          }
        }
      }
    }

    google.maps.event.addDomListener(window, 'load', function() {
      console.log('doing something');
      initializeAutocomplete('pool_address');
    });
  </script>
<% end %>
