<div id="pool-big-pic" style="background-image: url(<%= image_path @pool.picture.url(:large) %>)">
  <h1><%= @pool.title %></h1>
  <div id="map" class="map-circle map-right-corner"></div>
</div>
<div class="container-fluid" id="container-show">
  <div class="row">
    <div class="col-xs-12 col-md-3" id="side-box-padding">
      <div class="white-radius-box" id="owner-profile-box">
       <%= image_tag @pool.user.profile_picture, {class: "img-circle"}%>
        <h2><%= @pool.user.first_name + " " + @pool.user.last_name %><h2>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="pool-description-box-padding">
      <div class="white-radius-box" id="pool-infos-box">
        <h2><%= @pool.title %></h2>
        <div id="capacity"><%= @pool.capacity %> <i class="fa fa-user"></i></div>
        <div>
          <h3><i class="fa fa-map-marker"></i><%= @pool.address %></h3>
          <p><%= @pool.content %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" id="side-box-padding">
      <div class="white-radius-box" id="book-pool-box">
        <h2 id="h2-show-margin">Booking</h2>
        <div id="pool-price-booking"><%= @pool.price %> €</div>
        <% if current_user %>
          <% if @pool.availability %>
            <p><%= @message_to_user %></p>
            <%= form_for(@booking) do |f| %>
              <%= f.hidden_field :pool_id, :value => @pool.id.to_i %>
              <%= f.hidden_field :user_id, :value => current_user.id.to_i %>
              <%= f.date_field :checkin_on, :value => @checkin_on, :class => "form-control", :id => "input-show" %>
              <%= f.select :length, @length_selection, {}, {class: 'form-control', id: "input-show"} %>
              <%= f.hidden_field :status, :value => "Pending" %>
              <%= f.submit "Confirm", :class => "btn btn-danger"  %>
            <% end %>
          <% else %>
            Pool not available.
          <% end %>
        <% else %>
            <%= image_tag("duck.jpg", height: '64') %>
            <%= link_to "Book this pool", new_user_registration_path, class: "btn btn-danger"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      console.log(<%= raw @markers.to_json %>);
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14)
      });
    })
  <% end %>
<% end %>
