<div id="pool-big-pic" style="background-image: url(<%= image_path @pool.picture.url(:large) %>)">
</div>
<div class="container-fluid" id="container-show">
  <div class="row">
    <div class="col-xs-12 col-md-3" id="side-box-padding">
      <div class="white-radius-box" id="owner-profile-box">
       <%= image_tag @pool.user.profile_picture, {class: "img-circle"}%>
        <h2><%= @pool.user.first_name + " " + @pool.user.last_name %><h2>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="pool-description-box-padding">
      <div class="white-radius-box" id="pool-infos-box">
        <h1><%= @pool.title %></h1>
        <h3><%= @pool.address + " - " + @pool.city %></h3>
        <p><%= @pool.content[0..60] %></p>
        <div id="capacity">
          <%= @pool.capacity %> <i class="fa fa-user"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" id="side-box-padding">
      <div class="white-radius-box" id="book-pool-box">
        <h2 id="h2-show-margin">Booking</h2>
        <div id="pool-price-booking"><%= @pool.price %> €</div>
        <% if current_user %>
          <% if @pool.availability %>
            <p><%= @message_to_user %></p>
            <%= form_for(@booking) do |f| %>
              <%= f.hidden_field :pool_id, :value => @pool.id.to_i %>
              <%= f.hidden_field :user_id, :value => current_user.id.to_i %>
              <%= f.date_field :checkin_on, :value => @checkin_on, :class => "form-control", :id => "input-show" %>
              <%= f.select :length, @length_selection, {}, {class: 'form-control', id: "input-show"} %>
              <%= f.hidden_field :status, :value => "Pending" %>
              <%= f.submit "Confirm", :class => "btn btn-danger"  %>
            <% end %>
          <% else %>
            Pool not available.
          <% end %>
        <% else %>
            <%= image_tag("duck.jpg", height: '64') %>
            <%= link_to "Book this pool", new_user_registration_path, class: "btn btn-danger"%>
        <% end %>
     <!--    <p class="btn btn-danger">Confirm</p> -->
      </div>
    </div>
  </div>
</div>
