<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="card-white-content">

        <h2 class='text-center'>Edit account</h2>

        <br>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, label: 'Change your email', autofocus: true, label: false %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :current_password, label: 'Change your password', placeholder: 'Current password'  %>
            <%= f.input :password, autocomplete: "off", required: false, label: false, placeholder: 'New password' %>
            <%= f.input :password_confirmation, hint: "Leave these fields blank if you don't want to change your password", required: false, label: false, placeholder: 'Confirm new password'  %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class:'btn btn-success' %>
            <%= link_to 'Cancel', user_path, class:'btn btn-default' %>
          </div>
        <% end %>

        <br>

        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
