<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="card-white-content">

        <div class="facebookConnect">
          <%= render "devise/shared/facebookConnect" %>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name, label: false, placeholder: 'Your first name' %>
          <%= f.input :last_name, label: false, placeholder: 'Your last name' %>
          <%= f.input :email, label: false, placeholder: 'Your email' %>
          <%= f.input :password, label: false, placeholder: 'Choose a paswword', hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
          <%= f.input :password_confirmation, label: false, placeholder: 'Confirm your password' %>
          <%= f.button :submit, "Sign up", class: "buttonSignInUp" %>
        <% end %>

        <div class='text-center'>
          <%= render 'devise/shared/signInUp' %>
        </div>

      </div>
    </div>
  </div>
</div>
